{% extends "accounts/profile-layout.html" %}
{% load crispy_forms_tags %}
{%load static%}

{% block add_page_style %} 
    <!-- Link your page specific styles here-->

{% endblock add_page_style%}


{% block pageContent%}
<div class="main">
    <div class="main-content">
        <div class="personal_details" id="info-box">
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor%}
                        {% endif %}

                <div class="content-section">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Change Password</legend>
                            <!--{{ form.as_p}} -->
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock pageContent%}