{% extends "home/base.html" %}
{% load static %}

{% block titleSection %} 

    <link rel="stylesheet" type ="text/css" href="{% static 'accounts/css/profile-header.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'accounts/css/profile-sidenav.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'accounts/css/personal-info.css' %}">
    <script src="https://kit.fontawesome.com/44f13e07f2.js" crossorigin="anonymous"></script>

    <!-- Link your page specific styling for child pages here-->
    {% block add_page_style %} {% endblock add_page_style%}
{% endblock titleSection %}

{% block content%}
<aside>
<div class="sidenav">
    <nav>
            <ol>
                <li><a href="{%url 'account-profile'%}"><i class="fa fa-home" style="font-size:24px"></i></a></li>
                <li><a href="{%url 'account-profile'%}"><i class='fas fa-user' style='font-size:24px'></i></a></li>
                <li><a href="{% url 'account-logout' %}"><i class="fas fa-power-off" style="font-size:24px"></i></a></li>
            </ol>
            <ul>
                <li><a href="{% url 'citizenship'%}"><i class="fa fa-address-card" style="font-size:24px"></i>Citizenship</a></li>
                <li><a href="{% url 'driving_license'%}"><i class="fa fa-automobile" style="font-size:24px"></i>Driving License</a></li>
                {% if user.officerName %}
                <li><a href="{%url 'profile-approve'%}"><i class="fa fa-check-square" style="font-size:24px"></i>Approve</a></li>
                {% else %}
                <li><a href="{%url 'profile-request'%}"><i class="fa fa-file-text" style="font-size:24px"></i>Request</a></li>
                {% endif %}
                <li><a href="{%url 'national_id'%}"><i class="fa fa-drivers-license-o" style="font-size:24px"></i>National ID</a></li>
                <li><a href="{%url 'change-password'%}"><i class="fa fa-wrench" style="font-size:24px"></i>Password</a></li>
                <li><a href="{%url 'qrcode'%}"><i class="fa fa-qrcode" style="font-size:24px"></i>QR Code</a></li>
            </ul>
    </nav>
</aside>
</div>
    <header>
            <div class="main">    
                <div class="flex-container-header">
                    <div class="logo">

                        <img src="{% static 'home/img/emblem.png' %}">

                    </div>
                        <div class="project-name">
                                <h1>National Identity
                                <h1>Card</h1>
                        </div>
                        <div class="search-bar">
                            <form action="#">
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>    
                        </div>
                </div>
            </div>
    </header>

<div class="main">
<section>

<!--Some pages will override this block-->
{% block contact_info %}
    <div class="main-content">
        <div class="myinfo">
            <div class="profile-picture">
                <img class="account-img" src="{% static 'accounts/img/myface.jpg' %}">
            </div>
            <div class="contact-info" id="info-box">
                <ul>
                    <li>username: {{ user.username  }}
                    <li>Email: </li>
                    <li>Phone : </li>
                    {% if user.officerName %}
                    <li>Role: Officer </li>
                    {% else %}
                    <li>Role: Citizen </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{%endblock contact_info%}
 </div>

 <article>
{% block pageContent %}{% endblock pageContent %}
</article>
{% endblock content%}