{% extends "accounts/profile-layout.html" %}
{% block pageContent%}
<div class="main">
  <div class="main-content">
      <div class="personal_details" id="info-box">

      {% if message %} {{message}} {%endif%}
      {% if mydetails %}
      <table>
      <th>Profile Details</th>
        {% for key, value in mydetails.items %}
          <tr>
            <td> {{key}} </td> <td> {{value}} </td>
          </tr>
        {% endfor %}
        </table>
        {% else%}
        {% endif %}
        </div>
    </div>
</div>
{% endblock pageContent%}