{% extends "accounts/profile-layout.html" %}
{% block pageContent%}
<div class="main">
  <div class="main-content">
      <div class="personal_details" id="info-box">

      {% if message %} {{message}} {%endif%}
      {% if mydetails %}
      <table class="table table-striped ">
      <th>Profile Details</th>
      <tr>
      <td>Verified:</td>
      <td>
        {% if user.documents.citizenship.approval %} <i class="fas fa-check-circle" style="color:green;font-size:18px;"></i> 
        {% else %} <i class="fas fa-times-circle" style="color:orange;font-size:18px;"></i> 
        {%endif%}
      </td>
      </tr>
        {% for key, value in mydetails.items %}
          <tr>
            <td> {{key}} </td> <td> {{value}} </td>
          </tr>
        {% endfor %}
        </table>
        {% else%}
        {% endif %}
        </div>
    </div>
</div>
{% endblock pageContent%}