{% extends "home/base.html" %}
{% load static %}


{% block title %} 

    <link rel="stylesheet" href="{% static 'accounts/css/profile-header.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/profile-sidenav.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock title%}

{% block header %}
{% endblock header%}

{% block content%}

<div class="sidenav">
            <a href="#">Home</a>
            <a href="#">Citizenship</a>
            <a href="#">Driving License</a>
            <!--Put common options here-->
            {% block approval_request %}

            {% endblock approval_request%}
        
            <a href="#"><i class='fas fa-file-alt'></i>National ID</a>
            <a href="#">Profile</a>
            <a href="#">Change Password</a>
            <a href="#">QR Code</a>
</div>
        <header>
        <div class="main">    
            <div class="flex-container-header">
                <div class="logo">

                    <img src="{% static 'home/img/emblem.jpeg' %}">

                    </div>
                        <div class="project-name">
                            <h1>National Identity Card </h1>
                        </div>
                        <div class="navbar">
                            <a href="{% url 'account-logout' %}">Logout</a>
                        </div>
            </div>
        </div>
    </header>  
 {% block personal_info %} {% endblock personal_info%}
{% endblock content%}