{% extends "home/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block home %}

{% block indexTitle %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" type ="text/css">
{% endblock indexTitle %}

<main role="main" class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>

            <div class="border-top pt-3">
                <small class="text-primary">
                    Already have an account? <a style="color:#349ded;" class="link-primary" href="{% url 'account-login'%}">Sign In</a>
                </small>
            </div>
        </form>
    </div>
  </main>
{% endblock home %}
