{% extends "accounts/profile-layout.html" %}
{% load crispy_forms_tags %}
{% block pageContent %}
<div class="main">
    <div class="main-content">
        <div class="personal_details" id="info-box">
            <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor%}
                    {% endif %}

            <div class="content-section">
                <form enctype="multipart/form-data" id="citizenshipForm" data-regions-url="{% url 'ajax_load_regions' %}" data-districts-url="{% url 'ajax_load_districts' %}" data-local-categories-url="{% url 'ajax_load_local_categories' %}" data-locals-url="{% url 'ajax_load_locals' %}" action="{% url 'citizenship_form' %}" method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Citizenship Form</legend>
                        <!--{{ form.as_p}} -->
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                    <button class="btn btn-outline-info" type="reset">Reset</button>
                    </div>
                </form>
            </div>
            
            </main>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                
                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelector('#id_spouse_first_name').disabled = true;
                    document.querySelector('#id_spouse_middle_name').disabled = true;
                    document.querySelector('#id_spouse_last_name').disabled = true;
                    document.querySelector('#id_spouse_citizenship_id').disabled = true;

                    document.querySelector('#id_is_married').onclick = function() {
                        if (this.checked) {
                            document.querySelector('#id_spouse_first_name').disabled = false;
                            document.querySelector('#id_spouse_middle_name').disabled = false;
                            document.querySelector('#id_spouse_last_name').disabled = false;
                            document.querySelector('#id_spouse_citizenship_id').disabled = false;
                        }
                        else {
                            document.querySelector('#id_spouse_first_name').disabled = true;
                            document.querySelector('#id_spouse_middle_name').disabled = true;
                            document.querySelector('#id_spouse_last_name').disabled = true;
                            document.querySelector('#id_spouse_citizenship_id').disabled = true;
                        }
                    }
                });


                function load_region(tocheck_id, tochange_id, torequest_url_attr){
                    var url = $("#citizenshipForm").attr(torequest_url_attr);  // get the url of the `load_cities` view
                    var new_old = 0;
                    if ($(tocheck_id).is(":checked"))
                    {
                        new_old = 1
                    }  // get the selected country ID from the HTML input

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                            'new_old': new_old      // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            $(tochange_id).html(data);  // replace the contents of the city input with the data that came from the server
                        }
                    });

                }

                function load_district(tocheck_id, tochange_id, torequest_url_attr){
                    var url = $("#citizenshipForm").attr(torequest_url_attr);  // get the url of the `load_cities` view
                    var region = $(tocheck_id).val();

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                            'region': region      // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            $(tochange_id).html(data);  // replace the contents of the city input with the data that came from the server
                        }
                    });
                }

                function load_local_category(tocheck_id, tochange_id, torequest_url_attr){
                    var url = $("#citizenshipForm").attr("data-local-categories-url");  // get the url of the `load_cities` view
                    var district = $(tocheck_id[0]).val();
                    var new_old = 0;
                    if ($(tocheck_id[1]).is(":checked"))
                    {
                        new_old = 1;
                    }  

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                            'district': district,
                            'new_old': new_old      // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            $(tochange_id).html(data);  // replace the contents of the city input with the data that came from the server
                        }
                    });      
                }

                function load_local(tocheck_id, tochange_id, torequest_url_attr){
                    var url = $("#citizenshipForm").attr(torequest_url_attr);  // get the url of the `load_cities` view
                    var local_category = $(tocheck_id[0]).val();
                    var district = $(tocheck_id[1]).val();

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                            'local_category': local_category,  
                            'district': district    // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                            $(tochange_id).html(data);  // replace the contents of the city input with the data that came from the server
                        }
                    });
                }

                //Regions based on new_old
                $("#id_birth_new_old").change(function() {
                    load_region("#id_birth_new_old", "#id_birth_region", "data-regions-url");
                });
                $("#id_perma_new_old").change(function() {
                    load_region("#id_perma_new_old", "#id_perma_region", "data-regions-url");
                });

                //districts based on region
                $("#id_birth_region").change(function() {
                    load_district("#id_birth_region", "#id_birth_district", "data-districts-url");
                });
                $("#id_perma_region").change(function() {
                    load_district("#id_perma_region", "#id_perma_district", "data-districts-url");
                });
                
                //local categories based on district and old new
                $("#id_birth_district").change(function() {
                    load_local_category(["#id_birth_district", "#id_birth_new_old"], "#id_birth_local_category", "data-local-categories-url");
                });
                $("#id_perma_district").change(function() {
                    load_local_category(["#id_perma_district", "#id_perma_new_old"], "#id_perma_local_category", "data-local-cateogries-url");
                });

                //locals based on district and old_new
                $("#id_birth_local_category").change(function() {
                    load_local(["#id_birth_local_category", "#id_birth_district"], "#id_birth_local", "data-locals-url");
                });
                $("#id_perma_local_category").change(function() {
                    load_local(["#id_perma_local_category", "#id_perma_district"], "#id_perma_local", "data-locals-url");
                });
            </script>
        </div>
    </div>
</div>
{% endblock pageContent %}