{% extends "accounts/profile-layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block add_page_style %}
    <link rel="stylesheet" href="{% static 'documents/css/detail.css' %}" type ="text/css">
{% endblock %}

{% block pageContent %}
<div class="main">
    <div class="main-content">
        <div class="personal_details" id="info-box">
            <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor%}
                    {% endif %}

            <div class="content-section">
                {% if form %}
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Driving License Form</legend>
                        <!--{{ form.as_p}} -->
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                    <button class="btn btn-outline-info" type="reset">Reset</button>
                    </div>
                </form>
                {% endif %}

                {% if driving_license_form %}
                    <div class="document_img">
                        {% if driving_license_form.document_photo.url %}<img id="license_photo" src="{{ driving_license_form.document_photo.url }}">{% endif %}
                    </div>
                    <table class="table table-striped">
                        <thead>

                        </thead>
                        <tbody>
                            {% for field in driving_license_form %}
                                {% if field.value %}
                                    <tr scope="row">
                                        <td>{{field.label}}</td>
                                        <td>{{field.value}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>    
                {% endif %} 
            </div>
            </main>
        </div>
    </div>
</div>
{% endblock pageContent %}