{% extends "home/base.html" %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'home/css/home-header.css' %}">
    <!--
    <link rel="stylesheet" href="{% static 'home/css/home-main.css' %}">
    -->
{% endblock %}

{% block content %}

    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    
    <header>

    <div class="home-header">
        <div class="emblem">

            <img src="{% static 'home/img/emblem.jpeg' %}">

        </div>

        <div class="national-identification">
            <h3>Government Of Nepal</h3>
            <h1>Ministry of Home Affairs</h1>
            <h4>Singhdurbar Kathmandu</h4>

        </div>

        <div class="login-register">
            <ul>
                <li><a href="{% url 'account-login' %}">Login </a> </li>
                <li><a href="{% url 'account-register' %}">Register</a></li>
            </ul>
        </div>
    </div>

    </header>


    <nav>
        <ol>
            <li>HOME</li>
            <li>About</li>
            <li>Contact</li>

        </ol>
    
    
    </nav>
{% endblock %}