{% extends "home/base.html" %}
{% load static %}

{% block titleSection %}
    <!--Linking CSS stylesheets-->
    <link rel="stylesheet" href="{% static 'home/css/header_navbar.css' %}" type ="text/css">
    <link rel="stylesheet" href="{% static 'home/css/footer.css' %}" type ="text/css">
{% endblock titleSection %}

{% block content %}

    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    
    <header>
        <div class="flex-container-header">
            <div class="logo">
                <img src="{% static 'home/img/emblem.png' %}">
            </div>
                <div class="project-name">
                    <h5>Government of Nepal</h3>
                    <h2>Ministry of Home Affairs</h2>
                    <h6>Singhadurbar, Kathmandu</h6>
                </div>
            <div class="navbar">
                    <nav>
                        <ul>
                            <li><a href="{% url 'account-login' %}">Login</a></li>
                            <li><a href="{% url 'account-register' %}">Register</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
    </header>

    <div class="navigationbar">
        <div class="navlink"><a href="{% url 'home-index' %}">Home</a></div>
        <div class="navlink"><a href="#">About</a></div>
        <div class="navlink"><a href="#">FAQ</a></div>
    </div>

    
    <div class="flex-container-body">
        {% block home %}
          <div class="flex-container-banner">
                <img src="{% static 'home/img/temp-banner.png' %}" height="500" weight="500">
          </div>
          {% endblock home %}

            <!--Footer section of the page-->
            <footer>
                <div class="flex-container-footer">
                    <div class="contact-us">
                        <span>Contact us:</span>
                        <ul>
                            <a href="mailto:#"><li><i class="fa fa-envelope" style="font-size: 16px; color:white;"></i> support@nationalidentity.gov.np</li></a>
                            <li><i class="fa fa-phone"></i> 9869056799</li>
                        </ul>
                    </div>

                    <div class="social-media">
                        <!--Links are not added.-->
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>

                    <div class="links">
                        <span>Links:</span>
                        <ul>
                            <li>About us</li>
                            <li>Goals</li>
                            <li>Privacy</li>
                            <li>Feedback</li>
                        </ul>

                    </div>
                </div>
              </footer>
        </div>
{% endblock content %}